.recomend-container{
    flex:1;
    margin-bottom: 2vh;
    background-color: var(--complementary);
    display:flex;
    height: 38vh;
    align-items: center;
    padding: 1vw;
    width: 60vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.recomend-container::-webkit-scrollbar{
    height:2vh;
  }
.recomend-container::-webkit-scrollbar-track{
    background-color: #333;
  }
.recomend-container::-webkit-scrollbar-thumb{
    background-color: var(--primary);
  }
  @media screen and (max-width:600px){
    .recomend-container{
      flex:1;
      margin-bottom: 2vh;
      background-color: var(--complementary);
      display:flex;
      height: 38vh;
      padding: 1vw;
      width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
  }
}