.best {
    display: flex;
    flex-direction: column;
    margin: 5vh;
    flex-direction: row;
    height: 45vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
@media screen and (max-width:600px){
    .best {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin: 0px;
    }
}