.recomend-novel{
    background-color: var(--secundary);
    display: flex;
    position: relative;
    align-items: center;
    height: 18vmax;
    width: 14vmax;
    align-items: center;
    justify-content: center;
    margin-left: 2vmax;
}
.recomend-novel .image{
    height: 16vmax;
    width:12vmax;
}
.recomend-novel .title{
    position: absolute;
    background-color: #22222288;
    width: 10vmax;
    bottom: 1vmax;
    display: flex;
    height: 4vmax;
    font-size: 2vmin;
    color:white;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    padding: 1vmax;

}
.recomend-novel .title p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}