.novel-container{
    background-color:var(--triadic);
    background: linear-gradient(215deg,var(--secundary),10%,var(--triadic),95%,var(--secundary));
}
.novel-container:hover{
    background-color:var(--triadic);
    background: linear-gradient(215deg,var(--secundary),25%,var(--triadic),80%,var(--secundary));
    cursor: pointer;

}
.novel-container .capitulos{
    position:absolute;
    z-index: 2;
    top:-10px;
    right: -10px;
} 
.novel-container .capitulos .capitulo{
    font-size: 40px;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    text-decoration: none;
    color: var(--font);
    background-color: var(--secundary);
    width: 5vmin;
    height: 5vmin;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 3px 1px 9px #111111 ;
    transition-duration: 1000ms;

}
.novel-container .capitulos .capitulo:first-child{
    margin-top: 0px;
}
.novel-container .capitulos .capitulo:hover{
    transition-duration: 1000ms;
    background-color: var(--triadic);
    box-shadow: 0px 0px 0px 0px #111111 ;  
}
.novel-container .capitulos .capitulo a{
    font-size: 5vmin;
    text-decoration: none;
    color: var(--font);
}
@media screen and (min-width:400px){
.novel-container{
    position: relative;
    padding: 3vmin;
    margin:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.novel-container .image{
    display: flex;
    min-height: 30vmin;
    min-width: 22vmin;
    max-width: 40vmin;
    max-height: 48vmin;
    margin-right: 2vmax;
}
.novel-container .information{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: right;
    word-break:break-word;
    text-align: right;
}
.novel-container .information a{
    font-weight: 700;
    text-decoration: none;
    color: var(--secundary);
    font-size: 1.4rem;
    text-align: left;
    cursor: pointer;
}
.novel-container .information a:hover{
    color:var(--primary)
}
.novel-container .information p{
    opacity: 0.7;
    font-size: smaller;
    margin-right: 5vw;
    color: aliceblue;
    font-weight: 400;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    
}
.novel-container .cap{
    display: flex;
    align-items:center ;

}
.novel-container .cap h3{
    margin-right: 10px;
}
.novel-container .cap h4{
    margin-right: 10px;
    padding: 0.5vmax;
    background-color: var(--primary);
}
.novel-container .cap h4:hover{
    cursor: pointer;
    background-color: var(--secundary);
}

}
@media screen and (max-width:400px){
    .novel-container{
        position: relative;
        width: 80vw;
    }
    .novel-container div .image{
        width: 75vw;
        height:auto;
    }
    .novel-container .information{
        position: relative;
        flex:1;
        opacity: 1;
        background-color: #00000069;
        z-index: 1;
    }

    .novel-container .information a{
        font-weight: 700;
        font-size: 1.4rem;
        text-align: left;
        cursor: pointer;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    .novel-container .information a:hover{
        color:#aaaaaa
    }
    .novel-container .information p{
        opacity: 0.7;
        font-weight: 500;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
    }
    .novel-container .cap{
        display: flex;
        align-items:center ;
    
    }
    .novel-container .cap h3{
        margin-right: 10px;
    }
    .novel-container .cap h4{
        margin-right: 10px;
        padding: 0.5vmax;
        background-color: var(--primary);
}
    .novel-container .cap h4:hover{
        cursor: pointer;
        background-color: var(--secundary);
    }
}
