.novel-container{
    background-color:var(--triadic);
    background: linear-gradient(215deg,var(--secundary),10%,var(--triadic),95%,var(--secundary));
}
.novel-container:hover{
    background-color:var(--triadic);
    background: linear-gradient(215deg,var(--secundary),25%,var(--triadic),80%,var(--secundary));
    cursor: pointer;
}
@media screen and (min-width:400px){
.novel-container{
    padding: 3vmin;
    margin:10px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.novel-container .image{
    display: flex;
    min-height: 30vmin;
    min-width: 22vmin;
    max-width: 40vmin;
    max-height: 48vmin;
    margin-right: 2vmax;
}
.novel-container .information{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: right;
    word-break:break-word;
    text-align: right;
}
.novel-container .information a{
    font-weight: 700;
    text-decoration: none;
    color: var(--secundary);
    font-size: 1.4rem;
    text-align: left;
    cursor: pointer;
}
.novel-container .information a:hover{
    color:var(--primary)
}
.novel-container .information p{
    opacity: 0.7;
    font-size: smaller;
    margin-right: 5vw;
    color: aliceblue;
    font-weight: 400;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    
}
.novel-container .cap{
    display: flex;
    align-items:center ;

}
.novel-container .cap h3{
    margin-right: 10px;
}
.novel-container .cap h4{
    margin-right: 10px;
    padding: 0.5vmax;
    background-color: var(--primary);
}
.novel-container .cap h4:hover{
    cursor: pointer;
    background-color: var(--secundary);
}
}
@media screen and (max-width:400px){
    .novel-container{
        padding: 8px;
        display: flex;
        max-height: 80vh;
        max-width: 90vw;
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;
        color:white;
        
    }
    .novel-container .image{
        height: 80vw;
        width: 65vw;
    }
    .novel-container .information{
        position: absolute;
        margin-top: 10vw;
        opacity: 1;
        align-self:center;
        background-color: #00000069;
        
        height: 68vw;
        width: 65vw;
    }
    .novel-container .information a{
        font-weight: 700;
        font-size: 1.4rem;
        text-align: left;
        cursor: pointer;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    .novel-container .information a:hover{
        color:#aaaaaa
    }
    .novel-container .information p{
        opacity: 0.7;
        font-weight: 500;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
    }
    .novel-container .cap{
        display: flex;
        align-items:center ;
    
    }
    .novel-container .cap h3{
        margin-right: 10px;
    }
    .novel-container .cap h4{
        margin-right: 10px;
        padding: 0.5vmax;
        background-color: var(--primary);
}
    .novel-container .cap h4:hover{
        cursor: pointer;
        background-color: var(--secundary);
    }
}
