:root{
  --primary:#a7ff83;
  --secundary:#17b978;
  --triadic:#086972;
  --complementary:#071a52;
  --background: #f1f1f1
}
.App {
  text-align: center;
  padding: 1vh;
  padding-top: 15vh;
  background-color: var(--background);
  padding-top: 2rem;
}
@media screen and (min-width:600px){
    .App{
      padding: 0rem;
      padding-top: 2vh;
      padding-left:6.5vw;
      padding-right: 1.6vw;
      transition-duration: 300ms;
    }
}
:root::-webkit-scrollbar{
  width:1.25vw;
}
:root::-webkit-scrollbar-track{
  background-color: #333;
}
:root::-webkit-scrollbar-thumb{
  background-color: var(--primary);
}
